<mat-toolbar color="primary">
	<mat-toolbar-row style="justify-content: space-between">
		<div fxHide.gt-sm>
			<button mat-icon-button (click)="onToggleNavbar()">
				<mat-icon>menu</mat-icon>
			</button>
		</div>
		<div fxHide.gt-sm>
			Krimson Sky Games
		</div>
		<div fxHide.sm fxHide.xs style="font-size:32px;">
			Krimson Sky Games
		</div>
		<div fxHide.sm fxHide.xs>
			<app-links layout="row"></app-links>
		</div>
		<mat-slide-toggle
			fxHide.sm
			fxHide.xs
			[checked]="isDarkTheme | async"
			(change)="onToggleTheme($event.checked)"
		>
			Dark Theme</mat-slide-toggle
		>
		<mat-slide-toggle
			fxHide.gt-sm
			[checked]="isDarkTheme | async"
			(change)="onToggleTheme($event.checked)"
		>
			Dark</mat-slide-toggle
		>
	</mat-toolbar-row>

	<mat-toolbar-row
		fxHide.gt-sm
		*ngIf="navbarOpen"
		class="hamburger"
		[@fadeInOut]
	>
		<app-links layout="column" style="width:100%"></app-links>
	</mat-toolbar-row>
</mat-toolbar>
