<app-game [title]="title" [description]="description">
	<div #gameContainer>
		<canvas
			[ngClass]="{ 'dark-canvas': darkMode }"
			class="light-canvas"
			#score
			width="50"
			height="50"
			style="margin-bottom: 30px"
		></canvas>

		<canvas
			[ngClass]="{ 'dark-canvas': darkMode }"
			class="light-canvas"
			#snake
		></canvas>
	</div>
	<div fxLayout="row" fxLayoutAlign="center">
		<mat-icon
			style="cursor: pointer; font-size:48px;"
			(click)="onClickArrow('ArrowUp')"
			(contextmenu)="onNoContext()"
		>
			keyboard_arrow_up
		</mat-icon>
	</div>
	<div fxLayout="row" fxLayoutAlign="center">
		<mat-icon
			style="cursor: pointer; font-size:48px;"
			(click)="onClickArrow('ArrowLeft')"
			(contextmenu)="onNoContext()"
		>
			keyboard_arrow_left
		</mat-icon>
		<div style="min-width:50px"></div>
		<mat-icon
			style="cursor: pointer; font-size:48px;"
			(click)="onClickArrow('ArrowRight')"
			(contextmenu)="onNoContext()"
		>
			keyboard_arrow_right
		</mat-icon>
	</div>
	<div fxLayout="row" fxLayoutAlign="center">
		<mat-icon
			style="cursor: pointer; font-size:48px;"
			(click)="onClickArrow('ArrowDown')"
			(contextmenu)="onNoContext()"
		>
			keyboard_arrow_down
		</mat-icon>
	</div>
</app-game>
