<div class="controls">
	<button
		mat-raised-button
		[color]="mineServ.explode ? 'warn' : 'primary'"
		class="score-area"
		(click)="onNewGame()"
	>
		<h1 *ngIf="!mineServ.win && !mineServ.explode" style="margin:0">
			{{ mineServ.totalMines - mineServ.flags }}
		</h1>
		<img
			src="..\..\..\assets\minesweeper\smiley.svg"
			style="height:32px;width:32px"
			*ngIf="mineServ.win"
		/>
		<img
			src="..\..\..\assets\minesweeper\lose_face.svg"
			style="height:32px;width:32px"
			*ngIf="mineServ.explode"
		/>
	</button>
</div>
<div class="controls">
	<button mat-raised-button color="primary" (click)="onMenu()">
		Menu
	</button>
	<button mat-raised-button color="accent" (click)="onNewGame()">
		New Game
	</button>
	<mat-slider
		min="0.5"
		max="5"
		step="0.05"
		[(ngModel)]="zoomLevel"
		(input)="zoomLevel = $event.value"
		id="zoom"
	></mat-slider>
	{{ zoomLevel * 100 | number }}%
</div>

<div class="play-area" [style.zoom]="zoomLevel">
	<div
		*ngFor="let row of mineServ.board; let i = index"
		fxLayout="row"
		class="play-row"
	>
		<div
			*ngFor="let cell of row; let j = index"
			fxLayout="row"
			fxLayoutAlign="center space-around"
			fxFlex="0 0 auto"
			class="cell"
			[ngClass]="{
				revealed: cell.clicked,
				covered: !cell.clicked,
				'first-cell': j === 0,
				'last-cell': j === row.length - 1
			}"
			(contextmenu)="onFlag(i, j)"
			(click)="onReveal(i, j)"
		>
			<img
				src="..\..\..\assets\minesweeper\flag.ico"
				alt=""
				style="height:20px;width:20px"
				*ngIf="cell.flag"
			/>
			<img
				src="..\..\..\assets\minesweeper\mine.ico"
				alt=""
				style="height:20px;width:20px"
				*ngIf="cell.mine && mineServ.explode"
			/>
			<p *ngIf="cell.clicked && cell.number > 0">{{ cell.number }}</p>
		</div>
	</div>
</div>
