.play-area {
	overflow-x: auto;
	height: auto;
}
.play-row {
	max-width: 100%;
}
.cell {
	height: 20px;
	width: 20px;
}
.first-cell {
	margin-left: auto;
}
.last-cell {
	margin-right: auto;
}
.cell.covered {
	background-image: url("../../../assets/minesweeper/tile.ico");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	cursor: pointer;
}
.cell.revealed {
	border: lightgrey solid 1px;
	cursor: default;
}
.score-area {
	padding: 5px;
	margin-top: 0;
	height: 48px;
	width: 54px;
	text-align: center;
}
.controls {
	text-align: center;
}
button {
	margin: 15px;
}
p {
	margin: 0;
	line-height: 20px;
	min-width: 100%;
	text-align: center;
}
