.play-area {
	overflow-x: auto;
	min-width: 400px;
}
.play-row {
	width: 400px;
	margin: auto;
}
.cell {
	height: 20px;
	width: 20px;
}
.cell.covered {
	background-image: url("../../../assets/minesweeper/tile.ico");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	cursor: pointer;
}
.cell.revealed {
	background-color: lightblue;
	cursor: default;
}
.score-area {
	height: 32px;
	width: 32px;
	margin: 0 auto 16px auto;
	border: 2px slategrey solid;
	text-align: center;
	border-radius: 5px;
}
.controls {
	text-align: center;
}
button {
	margin: 15px;
}
