<div class="score-area">
	<h1 *ngIf="!mineServ.win && !mineServ.explode">
		{{ mineServ.totalMines - mineServ.flags }}
	</h1>
	<img
		src="..\..\..\assets\minesweeper\smiley.svg"
		style="height:32px;width:32px"
		*ngIf="mineServ.win"
	/>
	<img
		src="..\..\..\assets\minesweeper\lose_face.svg"
		style="height:32px;width:32px"
		*ngIf="mineServ.explode"
	/>
</div>

<div class="play-area">
	<div
		*ngFor="let row of mineServ.board; let i = index"
		fxLayout="row wrap"
		class="play-row"
	>
		<div
			*ngFor="let cell of row; let j = index"
			fxLayout="row"
			fxLayoutAlign="center space-around"
			class="cell"
			[ngClass]="{ revealed: cell.clicked, covered: !cell.clicked }"
			(contextmenu)="onFlag(i, j)"
			(click)="onReveal(i, j)"
		>
			<img
				src="..\..\..\assets\minesweeper\flag.ico"
				alt=""
				style="height:20px;width:20px"
				*ngIf="cell.flag"
			/>
			<img
				src="..\..\..\assets\minesweeper\mine.ico"
				alt=""
				style="height:20px;width:20px"
				*ngIf="cell.mine && mineServ.explode"
			/>
			<p *ngIf="cell.clicked && cell.number > 0">{{ cell.number }}</p>
		</div>
	</div>
</div>
<br />

<div class="controls">
	<button mat-raised-button color="accent" (click)="onRestart()">
		Restart
	</button>
</div>
