/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";

//light theme
@include mat-core();
$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-cyan);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

//dark theme
.dark-theme {
	color: $light-primary-text;
	$dark-primary: mat-palette($mat-blue-grey, 800);
	$dark-accent: mat-palette($mat-blue-grey, 500);
	$dark-warn: mat-palette($mat-red);
	$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
	@include angular-material-theme($dark-theme);
}

body {
	margin: 0;
}
