<app-game [title]="title" [description]="description">
	<div id="play-area">
		<div id="top-row" fxFlex fxLayout>
			<div id="top-left"></div>
			<div id="top-middle"></div>
			<div id="top-right"></div>
		</div>
		<div id="middle-row" fxFlex fxLayout>
			<div id="middle-left"></div>
			<div id="middle-middle"></div>
			<div id="middle-right"></div>
		</div>
		<div id="bottom-row" fxFlex fxLayout>
			<div id="bottom-left"></div>
			<div id="bottom-middle"></div>
			<div id="bottom-right"></div>
		</div>
	</div>
</app-game>
