<app-game [title]="title" [description]="description">
	<div id="play-area" fxLayout="row wrap">
		<div *ngFor="let row of boardState; let i = index" fxLayout="row wrap">
			<div *ngFor="let cell of row; let j = index">
				<div fxLayout="row" *ngIf="i > 0">
					<div
						*ngIf="j > 0"
						style="height:5px;width:5px"
						[ngClass]="{
							black:
								(j > 0 && j % Math.sqrt(row.length) === 0) ||
								(i > 0 &&
									i % Math.sqrt(boardState.length) === 0),
							'light-grey':
								(i > 0 &&
									i % Math.sqrt(boardState.length) !== 0) ||
								(j > 0 && j % Math.sqrt(row.length) !== 0)
						}"
					></div>
					<div
						style="height:5px;width:95px"
						[ngClass]="{
							black:
								i > 0 && i % Math.sqrt(boardState.length) === 0,
							'light-grey':
								i > 0 && i % Math.sqrt(boardState.length) !== 0
						}"
					></div>
				</div>
				<div fxLayout="row">
					<div
						*ngIf="j > 0"
						style="height:95px;width:5px"
						[ngClass]="{
							black: j > 0 && j % Math.sqrt(row.length) === 0,
							'light-grey':
								j > 0 && j % Math.sqrt(row.length) !== 0
						}"
					></div>
					<div class="cell">
						<p
							class="values"
							[ngClass]="{
								player: cell.source === 'player',
								given: cell.source === 'given',
								invalid: cell.invalid
							}"
							*ngIf="cell.value > 0"
						>
							{{ cell.value }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</app-game>
