svg {
	cursor: default;
}

#play-area {
	width: 895px;
	height: 895px;
	margin: auto;
}
.cell {
	height: 95px;
	width: 95px;
	box-sizing: border-box;
	justify-content: center;
}
.light-grey {
	background-color: lightgrey;
}
.black {
	background-color: black !important;
}
.values {
	margin: auto 0;
	width: 100%;
	text-align: center;
	line-height: 95px;
	font-size: 50px;
}
.given {
	color: blue;
}
.player {
	color: black;
}

// @mixin styling($rect-height,$border-radius){
// 	svg{
// 		height: calc( #{$rect-height} + #{$border-radius} + #{$border-radius} );
// 		width: calc( #{$rect-height} + #{$border-radius} + #{$border-radius} );
// 	}
// 	rect{
// 		height: $rect-height;
// 		width: $rect-height;
// 		stroke-width:$border-radius;
// 	}
// 	text{
// 		font-size: calc(0.8*(#{$rect-height} + #{$border-radius} + #{$border-radius}))
// 	}
// }
// @media screen and (max-width:600px){
// 	@include styling(100px, 2px)
// }
// @media screen and (min-width:601px){
// 	@include styling(300px, 10px)
// }
